<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body class="container">
<h5>You are connected as {{ username }}</h5>
{% block body %}{% endblock %}
{% block javascripts %}
    <script>
        const account = {
            username: '{{ username }}',
            password: '{{ password }}',
        };
    </script>
    <script src="{{ asset('build/runtime.js') }}"></script>
    <script src="{{ asset('build/vendors~app.js') }}"></script>
    <script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
